# Universal Shell Aliases, should be included in both Bash and ZSH.
alias mkdir='mkdir -p'
alias grep='grep --color=always'
alias diff='colordiff'
alias logout='sudo pkill -u $USER'
alias log-out='sudo pkill -u $USER'
alias nocolors='sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[mGK]//g"'

#Development specific
alias g='git'
alias da='direnv allow'

#Rails related
alias bi='bundle install'
alias be='bundle exec'
alias brs='bundle exec rails s'
alias brc='bundle exec rails c' #ovewrites bc - An arbitrary precision calculator language

#Ember related
alias e='node_modules/ember-cli/bin/ember'
alias es='e s --live-reload=false'
alias les='node_modules/ember-cli/bin/ember s --live-reload=false'
alias ember_clean='rm -rf node_modules bower_components dist tmp && npm cache clean && bower cache clean'
alias ember_install='npm install && bower install'
alias ember_reinstall='ember_clean && ember_install'

hist_alias() {
  history_var=`history`

  for var in "$@"
  do
    history_var=`echo "${history_var}" | grep "$var"`
  done

  echo "${history_var}"
}

alias his=hist_alias
alias t=toggle
alias termall=killall -15

alias svim="sudo -E vim"

alias cat=bat
alias batt="upower -i /org/freedesktop/UPower/devices/battery_BAT0"
alias sh!="shutdown now"
alias cb="clear && cargo build --color=always 2>&1 | less -RXeK"
alias run="cargo run"
n() {
  dir=${1:-.}
  nautilus $dir
}
