# Universal Shell Aliases, should be included in both Bash and ZSH.
alias mkdir='mkdir -p'
alias grep='grep --color=always'
alias diff='colordiff'
alias logout='sudo pkill -u $USER'
alias log-out='sudo pkill -u $USER'
alias nocolors='sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[mGK]//g"'

#Development specific
alias g='git'
alias da='direnv allow'

#Rails related
alias bi='bundle install'
alias be='bundle exec'
alias brs='bundle exec rails s'
alias brc='bundle exec rails c' #ovewrites bc - An arbitrary precision calculator language

#Ember related
alias e='node_modules/ember-cli/bin/ember'
alias es='e s --live-reload=false'
alias les='node_modules/ember-cli/bin/ember s --live-reload=false'
alias ember_clean='rm -rf node_modules bower_components dist tmp && npm cache clean && bower cache clean'
alias ember_install='npm install && bower install'
alias ember_reinstall='ember_clean && ember_install'

hist_alias() {
  history_var=`history`

  for var in "$@"
  do
    history_var=`echo "${history_var}" | grep "$var"`
  done

  echo "${history_var}"
}

alias his=hist_alias
alias t=toggle
alias termall=killall -15

alias svim="sudo -E vim"

alias cat="bat --theme=\"Solarized (dark)\" --style=\"numbers,changes,header\""
alias batt="upower -i /org/freedesktop/UPower/devices/battery_BAT0"
alias sh!="shutdown now"
alias cb='f_cb(){ clear && cargo build "$@" --color=always 2>&1 | less -rKFMX }; f_cb'
alias cba='f_cba(){ clear && cargo build "$@" --color=always 2>&1 --all-features | less -rKFMX }; f_cba'
alias cc='f_cc(){ clear && cargo check "$@" --color=always 2>&1 | less -rKFMX }; f_cc'
alias cca='f_cca(){ clear && cargo check "$@" --color=always 2>&1 --all-features | less -rKFMX }; f_cca'
alias ccts="cc --tests"
alias ccl='f_clippy(){ clear && cargo clippy "$@" --color=always 2>&1 | less -rKFMX }; f_clippy'
alias ccldocs='f_clippy_docs(){ clear && cargo clippy --all --all-features "$@" --color=always -- -W missing_docs 2>&1 | less -rKFMX }; f_clippy_docs'
alias cargodoc='f_cargodoc(){ clear && cargo doc "$@" --color=always 2>&1 | less -rKFMX }; f_cargodoc'
#you need both --color=always 2>&1 here. One if tests fail, the other if tests succeed (to colorize the Ok).
alias ct='f_ct(){ clear && cargo test "$@" --color=always 2>&1 -- --color=always --nocapture --test-threads=1 }; f_ct'
alias run='f_run(){ cargo run "$@" }; f_run'
alias lesss="less -rKFMX"
n() {
  dir=${1:-.}
  nautilus $dir
}
alias bb="~/Development/Tools/based-connect/based-connect -b 28:11:A5:E0:15:9C"
alias o=xdg-open
alias ipa="ip -c address show"
alias mem='f_mem(){ smem -t -k -c pss -P "$@" | tail -n 1 }; f_mem'
alias rbcp="f_rbcp(){ git diff --name-only master | xargs ls -1 2>/dev/null | grep '\.rb$' --color=never | xargs bundle exec rubocop --auto-correct-all }; f_rbcp"
