[user]
	name = Filippos Vasilakis
  email = vasilakisfil@gmail.com
  signingKey = vasilakisfil@gmail.com
[core]
	editor = vim
  hooksPath = /home/vasilakisfil/.githooks/
	excludesfile = ~/.gitignore_global
  pager = delta --theme='Solarized (light)'
[interactive]
  diffFilter = delta --color-only
[push]
	default = current
	followTags = true
[giggle]
	main-window-maximized = true
	main-window-geometry = 700x550+0+476
	history-view-vpane-position = 453
	main-window-view = HistoryView
	file-view-vpane-position = 205
[alias]
  s = status --short --branch
  co = checkout
  wip = commit -am "wip"
  fixes = commit -am "fixes"
  wipa = '!git add . && git commit -am "wip"'
  please = push --force-with-lease
  grog = log --oneline --decorate --graph --all
  remend = commit -a --amend --date=now
  squeeze = commit -a --amend
  count = rev-list --count master
  ri=rebase -i origin/master
  branches = "!f() { git for-each-ref --sort=committerdate refs/$1 --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'; }; f"
  dl= diff --name-only #I need to find a way to list them as shown in git status
  db= log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative 
  shoot= push origin --delete
  branch-name=symbolic-ref --short HEAD
  #why git doesn't have some nice defaults? :/
  fuckoff="!f(){ git branch --set-upstream-to=origin/$(git branch-name); }; f"
  repush="!f(){ git fetch && git rebase origin/master && git push; }; f"
  cleanup="!f(){ git branch --merged | egrep -v '(^\\*|master|dev)' | xargs git branch -d;}; f"
  lg=log --oneline --graph --all --decorate --abbrev-commit
  cof = !git for-each-ref --format='%(refname:short)' refs/heads | fzf | xargs git checkout
  common-words = "!f(){ git log --pretty=format:'%s' | tr \" \" \"\\n\" |  tr '[:upper:]' '[:lower:]' | sort | uniq -c | sort -nr | head -20; }; f"
  sneak="!f() { git commit --date \"$(date -d $1)\"; }; f"
[commit]
  #gpgsign = true
[color]
  ui = auto
[color "diff"]
  meta = yellow
  commit = green
  frag = magenta
  old = red
  new = green
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red
  oldHighlight = "red 52"
  newNormal = "green"
  newHighlight = "green 22"
[pull]
	rebase = false
