[user]
	name = Filippos Vasilakis
	email = vasilakisfil@gmail.com
[core]
	editor = vim
[push]
	default = current
[giggle]
	main-window-maximized = true
	main-window-geometry = 700x550+0+476
	history-view-vpane-position = 453
	main-window-view = HistoryView
	file-view-vpane-position = 205
[heroku]
