# Ignore everything
/*
/*/

# But not these files...
!.bash_profile
!.bashrc
!.gitignore
!.zshrc
!.vimrc
!.gitconfig
!.psqlrc

!/.vim/
/.vim/*
!/.vim/coc-settings.json

!/bin/
!/bin/alive
!/bin/f
!/bin/fix
!/bin/lcl
!/bin/resound
!/bin/swap_keys
!/bin/tchpad
!/bin/toggle

!.xbindkeysrc
!.aliases
!.tmux.conf
!.tools/
!.local/bin/
!.githooks
!.gitignore_global
!.vimrc_config

!/.config/
/.config/*
!/.config/devilspie2
!/.config/nvim


!/.scripts/
