[user]
	name = Filippos Vasilakis
  email = vasilakisfil@gmail.com
  signingKey = vasilakisfil@gmail.com
[core]
	editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
  hooksPath = /home/vasilakisfil/.githooks/
[push]
	default = current
	followTags = true
[giggle]
	main-window-maximized = true
	main-window-geometry = 700x550+0+476
	history-view-vpane-position = 453
	main-window-view = HistoryView
	file-view-vpane-position = 205
[alias]
  s = status --short --branch
  co = checkout
  wip = commit -am "wip"
  wipa = '!git add . && git commit -am "wip"'
  please = push --force-with-lease
  grog = log --oneline --decorate --graph --all
  remend = commit -a --amend --date=now
  count = rev-list --count master
  ri=rebase -i origin/master
  branches=branch --sort=committerdate
  dl= diff --name-only
[commit]
  gpgsign = true
