# Ignore everything
/*
/*/

# But not these files...
!.bash_profile
!.bashrc
!.gitignore
!.zshrc
!.vimrc
!.gitconfig
!vimCommands
!.gemrc
!.psqlrc
!.git-flow-completion.zsh

!/bin/
/bin/chrome
/bin/rebar3

!.xbindkeysrc
!.aliases
!.rspec
!.tmux.conf
!.tools/
!.local/bin/
!.githooks
!.gitignore_global
!.vimrc_config

/.nvm/*
!/.nvm/default-packages

!/.config/
/.config/*
!/.config/devilspie2


!/.scripts/
