# Ignore everything
/*
/*/

# But not these files...
!.bash_profile
!.bashrc
!.gitignore
!.zshrc
!.vimrc
!.gitconfig
!vimCommands
!.gemrc
!.psqlrc
!.git-flow-completion.zsh

!/.vim/
/.vim/*
!/.vim/coc-settings.json

!/bin/
/bin/chrome
/bin/rebar3
/bin/wrk
/bin/hercules
/bin/ngrok
/bin/swaks
/bin/particle

!.xbindkeysrc
!.aliases
!.rspec
!.tmux.conf
!.tools/
!.local/bin/
!.githooks
!.gitignore_global
!.vimrc_config

!/.config/
/.config/*
!/.config/devilspie2
!/.config/nvim


!/.scripts/
